* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.navbar-container {
  background-color: #2c0e3a;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  list-style-type: none;
}
.website-logo {
  height: 30px;
  margin: 10px;
}
.score-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.timer {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.timer-container {
  display: flex;
  align-items: center;
}
.score-text {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 10px;
}
.score-timer-container {
  display: flex;
  align-items: center;
}
.score-number {
  color: #fec653;
  font-size: 20px;
  font-weight: 500;
}
.timer-number {
  color: #fec653;
  font-size: 20px;
  font-weight: 500;
}
.match-game-body-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  padding-bottom: 40px;
}
.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.games-list-container1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  list-style-type: none;
}
.games-list-container {
  margin-left: 25%;
  margin-right: 25%;
}
.image-container {
  padding-top: 80px;
  margin-bottom: 40px;
  list-style-type: none;
}
.image-sizing {
  border: none;
  background-color: transparent;
  width: 100%;
}
.score-card-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  height: 120vh;
  background-size: 100% 100%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trophy {
  height: 80%;
  width: 80%;
}
.trophy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.your-score-text {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
}
.score {
  color: #ffffff;
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cf60c8;
  padding: 12px 15px;
  border-radius: 10px;
}
.reset-button {
  background-color: transparent;
  border: none;
  margin-right: 6px;
  display: flex;
  cursor: pointer;
}
.play-again-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .score-card-container {
    margin-left: 5%;
    margin-right: 5%;
    height: 100vh;
    padding-top: 8%;
  }
  .games-list-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 576px) {
  .trophy {
    height: 100%;
    width: 100%;
  }
  .score-card-container {
    padding-top: 20%;
    height: 85vh;
  }
  .games-list-container {
    margin-left: 2%;
    margin-right: 2%;
  }
  .navbar-container {
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
  }
}
