.button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.tab-item {
  margin-right: 10px;
}
.border {
  border-bottom: 4px solid #fec653;
}
.text-color {
  color: #fec653;
}
